# datasets and caches
data/
herding/data/
data_diet/data/
MoSo/data/


# experiment outputs / checkpoints
exps/
exps_formal/

# logs
logs/

# python cache
__pycache__/
*.pyc

# internal backups
.git_backup/

# herding feature cache
herding/cache/
